@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,100&display=swap');

:root {
  --primaryColor: #610101;
  --primaryColorDark: #2b0a0a;
  --primaryColorLight: #943535;
  --secondaryColor: #692020;
  --secondaryColorDark: #3b1212;
  --secondaryColorLight: #833636;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--secondaryColorDark);
  color: white;
  font: 300 1.8rem/1.5 'Libre Franklin', sans-serif;
  font-size: 14px;
}

.container{
  width: 40rem;
  padding: auto;
  margin: auto;
  margin-top: 20px;
}

footer {
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: #802323;
}

form input{
  width: 60px;
  margin: auto;
  margin-bottom: .8rem;
}

#modelo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 0 0px 0px;
}

#modelo input {
  margin: 0;
  cursor: pointer;
}

video {
  display: flex;
  padding: auto;
  margin: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  display: block;
  height: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-family: 'Libre Franklin', sans-serif;
  outline:none;
}

input:focus{
  box-shadow: 0 0 10pt 1pt rgb(187, 45, 45);
}

input[type=radio] {
  border: 0px;
  width: 2.5rem;
  height: 0.8rem;
  box-shadow: none;
}

.entradas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  margin: 0 140px; /*140px*/
}

#selResul {
  cursor: pointer;
  background-color: var(--primaryColorLight);
  color: white;
  overflow: hidden;
  border: solid whitesmoke 1px;
  font-family: 'Libre Franklin', sans-serif;
  width: 20rem;
  margin-bottom: 20px;
}

#myweapon,
#enemyweapon {
  background: white;
  border-radius: 10px;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
}

#myAdv, #enemyAdv {
  margin-top: 13px;
  margin-bottom: 2px;
}

button {
  padding: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  height: 2rem;
  width: 10rem;
  cursor: pointer;
  background: var(--primaryColorDark);
  color: #ffffff;
  border-radius: 10px;
  outline: 0px;
  transition: 0.5s;
}

button:hover {
  background: var(--primaryColorLight);
  border: none;
}

button:active {
  background: var(--primaryColor);
  border: none;
}

form select {
  margin: auto;
  padding: auto;
  text-align-last: center;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  border: solid whitesmoke 1px;
  outline: none;
}

form select:focus{
  box-shadow: 0 0 10pt 1pt rgb(187, 45, 45);
}

p {
  font-size: 10px;
  text-align: center;
}

div#minMax {
  display: flex;
  justify-content:space-around;
  margin: -0.4rem 6.5rem;
  margin-top: 0.5rem;
}

/*SLIDER*/
/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 15rem; /* Full-width */
  margin: auto;
  height: 5px; /* Specified height */
  background: var(--secondaryColorLight);
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: white;
  cursor: pointer; /* Cursor on hover */
  border-radius: 100px;
}
